# Ignore local MySQL database folder
mysql_data/

# Ignore compiled class files
bin/
**/bin/

# Ignore Eclipse metadata
.metadata/
.settings/
**/.settings/
.classpath
.project
**/.classpath
**/.project

# Ignore log files
*.log
**/*.log
